*, *:before, *:after {
  box-sizing: inherit;
} 
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%; 
  margin: 0;
}
body {
  min-height: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; 
  font-size: 1.6rem;
  margin: 0;
  background-color: #edf2f6;
}
.m-4{
  margin-bottom: 2rem;
}
.p-2{
  padding: 0 10px;
}
.width{
  width: 100%;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ActiveOption{
  color: #276ce4;
  border-bottom: 4px solid #fff;
}
.imgCard{
  width: 250px;
  height: 170px;
  object-fit:contain;
  margin: 0;
}
.contenedorArticulos{
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1,1fr 1fr 1fr 1fr);
  gap: 4rem;
  align-items: center;
  margin: 4rem auto;
  border: 1px;
}
.card{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  height: 480px;
  border-radius: 7px;
  text-align: center;
  margin: 2rem 10px;
  box-shadow: 1px 5px 10px 0.1px #2f3848;
}
.category{
  width: 100%;
  font-size: 22px;
  color: #2f3848;
  border-bottom: 1px solid #edf2f6;
  padding: 1rem;
  margin-top: 0;
  background-color: #edf2f6;
}
.precio{
  font-size: 25px;
  margin: 0;
  padding: 1rem;
  font-weight: bold;
  color: #276ce4;
}
.contenedorInteriorCard{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.btn-carrito{
  width: 100%;
  color: #edf2f6;
  background-color: #2f3848;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  padding: 2rem;
  margin: 0px;
}

.contenedorDetail{
  background-color: #fff;
  width: 80%;
  margin: auto;
  margin-top: 6rem;
  border-radius: 7px;
  box-shadow: 1px 1px 6px 0.1px rgb(205, 207, 209);
}
.imgCardBig{
  width: 500px;
  object-fit:contain;
  margin: 0;
  border: none;
  background-color: #edf2f6;
}
.detailSeparator{
  max-width: 350px;
  margin: 0;
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #fff;
  margin: auto;
  justify-content: center;
}
.precioBig{
  font-size: 50px;
  margin: 0;
  font-weight: bold;
  color: #276ce4;
}
.detalles{
  background:none;
  border:none;
  margin: 0 1rem; 
  font-weight:600;
  font-size:1.7rem;
  align-items:center;
  color: #fff;
  cursor:pointer;
}
.descripcion{
  color: #2f3848;
  font-size: 20px;
}
.titleDetail{
  font-weight: bold;
  font-size: 30px;
  color: #1a202d;
  margin-top: 0;
}
.btn-detail{
  width: 100%;
  padding: 1rem 2.1rem;
  margin: 0;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  background-color: #3d485a;
}
.btn-detail:hover{
  background-color: #1a202d;
}
.subtotal{
  color:#3d485a;
  font-size: 2rem;
  margin-right: 2rem;
}
.inline{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/* --gris1: #edf2f6;
    --gris2: #2f3848;
    --gris3: #1a202d;
    --negro: #000000; */