*, *:before, *:after {
  box-sizing: inherit;
} 
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%; 
  margin: 0;
}
body {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; 
  font-size: 1.6rem;
  margin: 0;
  background-color: #fff;
}
.imgCard{
  width: 300px;
  height: 170px;
  object-fit:contain;
  margin: 0;
}
.contenedorArticulos{
  width: 70%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr 1fr 1fr);
  margin: 4rem auto;
  border: 1px;;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 310px;
  height: 480px;
  border-radius: 7px;
  text-align: center;
  margin: 0 0;
  box-shadow: 1px 5px 10px 0.1px #2f3848;
}
.category{
  width: 100%;
  font-size: 22px;
  color: #1a202d;
  border-bottom: 1px solid #edf2f6;
  padding: 1rem;
  margin-top: 0;
  background-color: #edf2f6;
}
.precio{
  font-size: 25px;
  margin: 0;
  padding: 1rem;
  font-weight: bold;
  color: #276ce4;
}
.contenedorInteriorCard{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.btn-carrito{
  width: 100%;
  color: #edf2f6;
  background-color: #2f3848;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  padding: 2rem;
  margin: 0px;
}

/* --gris1: #edf2f6;
    --gris2: #2f3848;
    --gris3: #1a202d;
    --negro: #000000; */